body {
	background-color: lightgrey;
  	max-width: 1000px;
  	margin: 0 auto;
}

#page{
	border: #008080 solid 7px;
	box-shadow: 3px 3px 3px;
	background-color: white;
	padding: 15px;
	margin-top: 35px;
	margin-left: 35px;
	margin-right: 35px;
	margin-bottom: 0px;
}

.entete {
	text-align: center;
}

h1 {
	font-size: 2.5rem;
	text-shadow: 2px 3px 3px rgba(0,0,0,0.3);
}

h2 {
	font-size: 1.3rem;
}

h1, h2{
	font-family: "Papyrus", "Gill Sans", sans-serif;
}

p, table, ol, thead{
	font-size: 14px;
	font-family: "Gill Sans", sans-serif;
}

footer {
	text-align: center;
	border-top: none;
}

.italic {
	font-style: italic;
}

.titregras {
	font-style: bold;
}


@@ -13,6 +13,10 @@ h2 {
    font-size: 2rem;
}

table, th, td {
    border : 1px solid black;
}

#page {
    margin: auto; /* centrer */
    background-color: rgb(250, 250, 250);
}

#Global {
	margin-right: auto; 
	margin-left: auto; 
	width: 80%; 
	border: 3px; 
	display:table;
}

#Global #fileDisplayArea {
	float:left;
	width:48%;
	background: #FFF;
	font-size:0.6em;
	height:200px;
	overflow:scroll;
}
#Global #page-analysis {
	margin-left:52%;
	background: #FFF;
	height:200px;
	overflow:scroll;
}



